<div class="sidebar bg-dark text-light">
    <div class="sidebar-container">
        <div class="media my-5 px-4">
            <img class="align-self-center m-2" style="width: 75px; height: 75px;" src="{{ settings.site.logo }}">
            <div class="media-body">
                <h2>{{ settings.site.name }}</h2>
                <p class="mb-0">{{ settings.site.tagline }}</p>
            </div>
        </div>
        <ul class="nav flex-column mt-5">
            <li class="nav-item{{#is "dashboard/new-post"}} active{{/is}}">
                <a class="nav-link text-light" href="{{ uri_for '/dashboard/compose' }}">
                    {{#is "dashboard/new-post" }}
                    <svg height="12" viewBox="0 0 24 24" width="12"><polyline fill="none" points="13 17 18 12 13 7" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline><polyline fill="none" points="6 17 11 12 6 7" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline></svg>
                    {{/is}}
                    Compose
                </a>
            </li>
            <li class="nav-item{{#is "dashboard/posts" }} active{{/is}}">
                <a class="nav-link text-light" href="{{ uri_for '/dashboard/posts' }}">
                    {{#is "dashboard/posts"}}
                    <svg height="12" viewBox="0 0 24 24" width="12"><polyline fill="none" points="13 17 18 12 13 7" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline><polyline fill="none" points="6 17 11 12 6 7" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline></svg>
                    {{/is}}
                    Posts
                </a>
            </li>
            <li class="nav-item{{#is "dashboard/confirm-new-authors"}} active{{/is}}">
                <a class="nav-link text-light" href="#confirm-authors">
                    {{#is "confirm-new-authors" }}
                    <svg height="12" viewBox="0 0 24 24" width="12"><polyline fill="none" points="13 17 18 12 13 7" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline><polyline fill="none" points="6 17 11 12 6 7" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline></svg>
                    {{/is}}
                    Confirm new authors
                </a>
            </li>
        </ul>
    </div>
    <footer class="sidebar-footer">
        <div class="media p-3">
            <img class="m-3 rounded-circle" style="width: 75px; height: 75px;" src="{{ avatar size=75 }}">
            <div class="align-self-center media-body">
                <h5 class="mt-0">{{ vars.user.username }}</h5>
                <p class="mb-0">Author<br><a href="{{ uri_for '/dashboard/profile' }}">Profile</a> | <a href="{{ uri_for '/logout' }}">Logout</a></p>
            </div>
        </div>
    </footer>
</div>
