<h2>Welcome <small>{{ name }}</small></h2>

You are now a member of <a href="{{ uri_for '/' }}">{{ settings.site.name }}</a>.

You've been approved by {{ approver }}.

<a href="{{ uri_for '/login' }}"><strong>Start blogging!</strong></a>
